.user-card {
  left: 50%;
  transform: translate(-50%);
  margin: 10px;
}

.user-icon {
  margin-right: 3px;
}

.user-email,
.user-phone,
.user-website {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.User-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.posts-container,
.albums-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px;
}

.search {
  margin: 30px;
}
